Contexto_Negocio/
planes_implementacion/
Pauta_Evaluacion_Instrucciones/
__pycache__/
*.pyc
ejemplo/
documentacion/*
!documentacion/Requerimientos_Funcionales_simplificado_1.xlsx
!documentacion/convert_ers_to_docx.py

